
.sisbu-cursor-mano{
    cursor: pointer;
}

.row-selected-celeste-claro {
    background-color: #c2d8ec4f !important;
}

.icon-sisbu{
    display: initial !important;
}


.modal-lg-sisbu {
    max-width: 1050px !important;
}